:root {
    --accent: rgba(107, 162, 44, 0.789);
    --accent-light: #ffb700;
    --pure-white: rgb(252, 252, 252);
}
  
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: rgb(65, 64, 64);
    font-weight: bold;
}
  
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
  
/* header */
.header {
    background-color: var(--accent);
}
  
.header a {
    color: var(--pure-white);
    text-decoration: none;
}
  
.header-nav {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
}

  
.header-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.header-menu-link {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 10px;
    text-transform: uppercase;
    transition: 0.2s;
}

.header-title {
    color: rgb(65, 64, 64);
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

/* home */
.my-photo {
    margin-right: 50px;
    width: 355px;
    height: 355px;
    border-radius: 1000px;
}
.home-flex-box {
    display: flex;
}
.home-subtitle {
    font-size: 18px;
}
.home-flex-boxs {
    margin-top: 20px
}

/* education */
#education {
    background-color: var(--accent);
    padding-top: 35px;
    padding-bottom: 35px;
    color: white;
}

.education {
    text-align: center;
    color:rgb(252, 252, 252);
    font-weight: bold;
    font-size: 35px;
}

/* languages */
#languages {
    padding-top: 35px;
}
.languages-flex {
    margin-bottom: 35px;
}

.languages-subtitle {
    padding-top: 35px;
    font-size: 25px;
    font-weight: bold;
}

/* skills */
#skills {
    padding-top: 35px;
    background-color: var(--accent);
    padding-bottom: 35px;
    color: white;
}
.skills {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.skills-subtitle {
    font-size: 20px;
    margin-bottom: 10px; 
}

/* portfolio */
.portfolio-title {
    padding-top: 35px;
    color: rgb(65, 64, 64);;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.portfolio ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.portfolio h3 {
    color: white;
    font-weight: bold;
}
.portfolio li {
    border-radius: 10px;
    background-color: var(--accent);
    text-align: center;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio img {
    width: 100%;
}


/* contacts */
#contacts {
    font-size: 15px;
    padding-bottom: 35px;
}
.phone-number {
    color: rgb(65, 64, 64);
}

/* hover */
.education:hover,
.skills:hover,
.portfolio-title:hover {
    color: #ffb700;
    transition: 0.2s;
}
.header-title:hover {
    color: #ffb700;
    transition: 0.2s;
}

.phone-number:hover {
    color: #ffb700;
    transition: 0.2s;
}

.header-menu-link:hover {
    background-color: var(--accent-light);
}

.portfolio li:hover {
    background-color: rgb(65, 64, 64);
    transition: 0.2s;
}